.list {}

.list__item {
  display: flex;
  flex-direction: column;
}

.list--simple {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list--simple .list__item:not(:first-child) {
  padding-top: 0.5rem;
}

.list--simple .list__item:not(:last-child) {
  padding-bottom: 0.5rem;
}
